*::-webkit-scrollbar {
  width: 0.3em;
}
*::-webkit-scrollbar-track {
  background: #ecfdf5;
}
*::-webkit-scrollbar-thumb {
  background: #00695f;
}
*::-webkit-scrollbar-thumb:hover {
  background: #00695fc7;
}

body {
  font-family: 'Poppins', sans-serif;
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #99f6e4;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
